.watchContainer {
  position: relative;
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  height: auto; 
  justify-content: center;
  }
    
.delete {
      position: relative;
      margin: 10px;
      justify-content: center;
    }
  
.watchCard {
      border: 1px solid #ccc;
      padding: 20px;
      justify-content: center;
  }