.buttons-container {
  position: relative;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex; 
  justify-content: center;
}

.recommendButton,
.toWatchButton {
  position: relative;
  margin: 10px 10px 10px 10px;
}

.result-item {
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 10px;
}