#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: auto;
}

h1 {
  color: rgb(167, 18, 18);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  font-family:"Bokor";
}

.Recommend_button {
  position: relative;
  margin: 10px;
  justify-content: center;
}

.ToWatch_button {
  position: relative;
  justify-content: center;
  margin:10px;
}

.RecAndDel {
  position: relative;
  justify-content: center;
  margin:10px;
  color: rgb(180, 159, 41);
}

body {
  background-image: url('./assets/background.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}

.logo img {
  border-radius:50%;
  width: 250px;
  height: 250px;
}
